[toolchain]
anchor_version = "0.31.1"
solana_version = "2.1.0"

[features]
resolution = true
skip-lint = false

[programs.devnet]
tdf_program = "V1fxrKvUB7ebNyhe8R7tYiPLYSNsicWwowyY6pbYrxM"

[programs.localnet]
tdf_program = "V1fxrKvUB7ebNyhe8R7tYiPLYSNsicWwowyY6pbYrxM"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
